{
	"widgets": [{
		"type": "metric",
		"width": 4,
		"height": 4,
		"properties": {
			"metrics": [
				["{{namespace}}", "monitoredResourceCount"]
			],
			"view": "singleValue",
			"region": "{{current_region}}",
			"title": "Resources Monitored",
			"stat": "Average",
			"period": 300
		}
	},
	{
		"type": "text",
		"width": 20,
		"height": 4,
		"properties": {
			"markdown": "\n## Amazon Personalize Monitor Dashboard\n*This dashboard and its widgets are automatically managed by the [Personalize Monitor](https://github.com/aws-samples/amazon-personalize-monitor/) application. This is an open-source project. Please submit bugs/fixes/ideas [here](https://github.com/aws-samples/personalization-apis/issues).*\n\nFor best practices on integrating with and operating [Amazon Personalize](https://aws.amazon.com/personalize/), please see our [Cheat Sheet](https://github.com/aws-samples/amazon-personalize-samples/blob/master/PersonalizeCheatSheet2.0.md).\n\nAmazon Personalize resources: [Service Documentation](https://docs.aws.amazon.com/personalize/latest/dg/what-is-personalize.html) | [Personalize Blog](https://aws.amazon.com/blogs/machine-learning/category/artificial-intelligence/amazon-personalize/) | [Samples on GitHub](https://github.com/aws-samples/amazon-personalize-samples)\n"
		}
	}
	{{#dataset_groups}}
	,{
		"type": "text",
		"width": 24,
		"height": 1,
		"properties": {
			"markdown": "\n### Dataset Group: **{{name}}** ({{region}}) | [Manage](https://console.aws.amazon.com/personalize/home?region={{region}}#arn:aws:personalize:{{region}}:{{account_id}}:dataset-group${{name}}/setup)\n"
		}
	},
	{
		"type": "metric",
		"width": 8,
		"height": 8,
		"properties": {
			"metrics": [
				{{#inference_resources}}
				["{{namespace}}", "{{resource_min_tps_name}}", "{{resource_arn_name}}", "{{inference_arn}}", {
					"label": "{{name}} {{resource_min_tps_name}}"
				}],
				["{{namespace}}", "{{resource_avg_tps_name}}", "{{resource_arn_name}}", "{{inference_arn}}", {
					"label": "{{name}} {{resource_avg_tps_name}}"
				}]{{^last_resource}}, {{/last_resource}}
				{{/inference_resources}}
			],
			"region": "{{region}}",
			"view": "timeSeries",
			"stacked": false,
			"stat": "Average",
			"period": 300,
			"title": "Actual vs Provisioned TPS/RPS",
			"yAxis": {
				"left": {
					"label": "TPS/RPS",
					"min": 0,
					"showUnits": false
				},
				"right": {
					"showUnits": true,
					"label": ""
				}
			},
			"annotations": {
				"horizontal": [{
					"label": "Lowest TPS/RPS Allowed",
					"value": 1
				}]
			}
		}
	},
	{
		"type": "metric",
		"width": 8,
		"height": 8,
		"properties": {
			"view": "timeSeries",
			"stacked": false,
			"metrics": [
				{{#inference_resources}}
				["{{namespace}}", "{{resource_utilization_name}}", "{{resource_arn_name}}", "{{inference_arn}}", {
					"label": "{{name}} {{resource_utilization_name}}"
				}]{{^last_resource}}, {{/last_resource}}
				{{/inference_resources}}
			],
			"region": "{{region}}",
			"title": "Campaign/Recommender Utilization"
		}
	},
	{
		"type": "metric",
		"width": 8,
		"height": 8,
		"properties": {
			"view": "timeSeries",
			"stacked": false,
			"metrics": [
				{{#inference_resources}}
				["AWS/Personalize", "{{latency_metric_name}}", "{{resource_arn_name}}", "{{inference_arn}}", {
					"label": "{{name}} {{latency_metric_name}}"
				}]{{^last_resource}}, {{/last_resource}}
				{{/inference_resources}}
			],
			"region": "{{region}}",
			"title": "Campaign/Recommender Latency"
		}
	}
	{{/dataset_groups}}
	]
}